*.npy filter=lfs diff=lfs merge=lfs -text
kaggle_comptetitions/test_classification/data_train.npy filter=lfs diff=lfs merge=lfs -text
kaggle_comptetitions/test_classification/data_test.npy filter=lfs diff=lfs merge=lfs -text
